<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
<title>Section-06</title>
<link rel="stylesheet" href="css/Zaiba.css"/> 

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/games">Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
  <header>
  <h1 class= "section-header">Section 06- Zaiba Ali</h1>
  </header>

  <img src="images/zaibaali.jpg" alt="" style="width:200px">
  <main>
    <article>
      <section>
        <header>
          <h3 id= "current-section">Current</h3>
<p>I am Zaiba ali. I am a new member of fall Batch 2018. Working on my Masters of applied Computer science.</p>
        </section>
        <section id="past-section">
          <header>
            <div>
              <iframe width="560" height="315" align="right" src="https://www.youtube.com/embed/HMMsDdhYFmg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
<h3>Background</h3>
</header>
<p>I am an Indian. I did my bachelors from Technocrats institution of technology, Bhopal, India.</p>
</section>
<section id="future-section">
<header>
<h3>Goals</h3>
<header>
<p>I Dream to become a Software Developer and I'm interested in developing applications. I hope enrolling in this course would help me to achieve my goals.</p>
<h3 id="Interests">Interests</h3>
<p>Playing Badminton, Traveling, Watching Shows</p>

<h3 id= "Schedule">Schedule</h3>
<section id ="table">
<table style="width:200" border=2>
  <tr>
    <th>COURSE</th>
    <th>DAYS</th> 
    <th>TIME</th>
  </tr>
  <tr>
    <td>WEB APPS</td>
    <td>MW</td>
    <td>11:00-11:50</td>
  </tr>
  <tr>
    <td>OOPS</td>
    <td>TTR</td>
    <td>8:00-9:15</td>
  </tr>
  <tr>
    <td>AD DB</td>
    <td>MWF</td>
    <td>1:00-1:50</td>
  </tr>
</table>
</section>

<aside class= "aside-header">
    <header>
    <h3> A side note</h3>
    </header>
    <p> Without requirements or design, programming is the art of adding bugs to an empty text file.</p>
    </aside>
    </article>
    </main>
    <footer>
    <p> Posted by-Zaiba Ali- 08/29/2018, contact information-S533982@nwmissouri.edu</p>
    </footer>
    </body>
    </html>
    <h3 id= "section-thank">Thank you!</h3>
</body>
</html>
